* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.horizontal-center {
    margin-left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.vertical-center {
    margin-top: 50%;
    transform: translate3d(0, -50%, 0);
}

.link {
    &:hover {
        color: #2F88FF;
        cursor: pointer;
    }
    &-active {
        color: #2F88FF;
        cursor: pointer;
    }
    &-blue-text {
        color: #2a90d7;
    }
}

.line {
    display: inline-block;
    height: 22px;
    width: 1px;
    border-left: 1px solid #E4E7ED;
}