<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广告投放平台</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.13.1/lib/index.js"></script>
</head>
<body>
    <div id="root"></div>
    <% if (htmlWebpackPlugin.options.file !== 'login') { %>
        <div id="navigator-instance"></div>
        <script src="/navigator/navigator.1.0.0.js"></script>
    <% } %>
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>